@font-face {
    font-family: "ABC Otto Variable Edu Regular";
    font-weight: 300;
    src: url("/font/ABCOttoVariable.ttf");
}

@font-face {
    font-family: "ABC Otto Variable Edu Light Italic";
    font-weight: 300;
    src: url("/font/ABCOttoItalicVariable.ttf");
}

@font-face {
    font-family: "ABC Otto Variable Edu Medium Italic";
    font-weight: 600;
    src: url("/font/ABCOttoItalicVariable.ttf");
}

body {
    -webkit-user-select: none;
    font-family: "ABC Otto Variable Edu Light";
}

nav {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: calc(3.5vmax/50);
    font-size: clamp(18pt, 3.5vmax, 3.5vw);
    line-height: .85;
    color: transparent;
}

main {
    font-size: clamp(12pt, 1.5vmax, 1.5vw);
    line-height: 1.3;
}

a {
    color: inherit;
    font-family: "ABC Otto Variable Edu Medium Italic";
}

r {
    font-family: "ABC Otto Variable Edu Regular";
}

r:hover {
    cursor:pointer;
}

i {
    font-family: "ABC Otto Variable Edu Light Italic";
    letter-spacing: .05vmax;
}

q {
    -webkit-text-stroke-width: 0;
    color: black;
    letter-spacing: .07vmax;
}

@media only screen and (max-width: 800px) {
    .bignav {display:none;}
    .topnav {display:block;float:left;}
    
}
@media only screen and (min-width: 801px) {
    .bignav {display:block;float:left;}
    .topnav {display:none;}
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  font-size: clamp(18pt, 3.5vmax, 3.5vw);
  padding: 1vw;
  float: left;
}

/* Style the hamburger menu */
.topnav a.icon {
  float: left;
  position: absolute;
  left: .5vw;
  top: .5vw;
}

.topnav a.icon:hover {
    cursor:pointer;
}

/* Style the active link (or home/logo) */
.active {
  color: black;
    -webkit-text-stroke-width: 0;
    font-size: clamp(18pt, 3.5vmax, 3.5vw);
}
