@font-face {
    font-family: "ABC Otto Variable Edu Regular";
    font-weight: 300;
    src: url("/font/ABCOttoVariable.woff");
}

@font-face {
    font-family: "ABC Otto Variable Edu Light Italic";
    font-weight: 300;
    src: url("/font/ABCOttoItalicVariable.woff");
}

@font-face {
    font-family: "ABC Otto Variable Edu Medium Italic";
    font-weight: 600;
    src: url("/font/ABCOttoItalicVariable.woff");
}

body {
    -webkit-user-select: none;
    font-family: "ABC Otto Variable Edu Regular";
    @media (prefers-color-scheme: dark) {background-color:#333333;color:gainsboro;}
    @media (prefers-color-scheme: light) {background-color:gainsboro;color:black;}
}

nav {
    @media (prefers-color-scheme: dark) {-webkit-text-stroke-color: gainsboro;}
    @media (prefers-color-scheme: light) {-webkit-text-stroke-color: black;}
    -webkit-text-stroke-width: calc(3.5vmax/50);
    font-size: clamp(18pt, 3.5vmax, 3.5vw);
    line-height: .85;
    color: transparent;
}

main {
    font-size: clamp(12.5pt, 1.5vmax, 1.5vw);
    line-height: 1.3;
}

.desc {
    font-size: clamp(10pt, 1.1vmax, 1.1vw);
}

spalte {min-width:250px;max-width:1000px;width:20vw;float:left;margin-bottom:2vmax;padding-right:5vw;}
.bildspalte {min-width:250px;max-width:1000px;width:20vw;}

textPath {
    @media (prefers-color-scheme: dark) {fill: gainsboro;}
    @media (prefers-color-scheme: light) {fill: black;};
    font-family:ABC Otto Variable Edu Light Italic;
    font-size:1.6vmin;
    letter-spacing:.025vmin;
}

a {
    color: inherit;
    font-family: "ABC Otto Variable Edu Medium Italic";
}

r {
    font-family: "ABC Otto Variable Edu Regular";
}

r:hover {
    cursor:pointer;
}

i {
    font-family: "ABC Otto Variable Edu Light Italic";
    letter-spacing: .05vmax;
}

q {
    -webkit-text-stroke-width: 0;
    @media (prefers-color-scheme: dark) {color:gainsboro;}
    @media (prefers-color-scheme: light) {color:black;}
    letter-spacing: .07vmax;
}

@media only screen and (max-width: 800px) {
    .bignav {display:none;}
    .topnav {display:block;float:left;}
    
}
@media only screen and (min-width: 801px) {
    .bignav {display:block;float:left;}
    .topnav {display:none;}
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  @media (prefers-color-scheme: dark) {-webkit-text-stroke-color: gainsboro;}
  @media (prefers-color-scheme: light) {-webkit-text-stroke-color: black;};
}

#dot {
    @media (prefers-color-scheme: dark) {color: gainsboro;-webkit-text-stroke-color: gainsboro;}
    @media (prefers-color-scheme: light) {color: black;-webkit-text-stroke-color: black;};
}

r {
    @media (prefers-color-scheme: dark) {color: gainsboro;}
    @media (prefers-color-scheme: light) {color: black;};
}

/* Style navigation menu links */
.topnav a {
  font-size: clamp(18pt, 3.5vmax, 3.5vw);
  padding: 1vw;
  float: left;
}

/* Style the hamburger menu */
.topnav a.icon {
  float: left;
  position: absolute;
  left: .5vw;
  top: .5vw;
}

.topnav a.icon:hover {
    cursor:pointer;
}

/* Style the active link (or home/logo) */
.active {
    @media (prefers-color-scheme: dark) {color:gainsboro;}
    @media (prefers-color-scheme: light) {color:black;}
    -webkit-text-stroke-width: 0;
    font-size: clamp(18pt, 3.5vmax, 3.5vw);
}

.selectSkill {
    margin-right:1vw;
    font-family:"ABC Otto Variable Edu Light Italic";
}

.skill {
    display:inline-flex;
    width:auto;
}

.skill:after{
    content:", ";
}

.skill:visible:last:after{
    content:"";
}
