body {
    font-family: serif;
    user-select: none;
    -webkit-user-select: none;
    font-family: 'Times New Roman', Times, "Otto", sans-serif;
    line-height: 1.3;
}

main {
    width:55vw;
    @media (min-width:1000px) {
        font-size: max(3vmin, 18pt);
        margin-left:20vw;
        margin-right:25vw;}
    @media (max-width:999px) {
        font-size: 18pt;
        margin-left:10vw;
        margin-right:15vw;}
    margin-left:20vw;
    margin-right:25vw;
    margin-top:10vh;
    margin-bottom:10vh;
}

.textrahmen {
    text-indent:6vw;
}

p {
    display:inline;
    hyphens: auto;
    -webkit-hyphenate-limit-after: 6;
    -webkit-hyphenate-limit-before: 6;
    -webkit-hyphenate-limit-lines: 2;
    orphans: 3;
    widows: 2;
}

.on {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness:max(.2vmin, 1pt);
    text-underline-offset: max(.4vmin, 1pt);
}
